.nav {
  position: fixed;
  top: 0;
  object-fit: contain;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  display: flex;
  padding: 20px;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;

}

.nav__black {
  background-color: black;

}

.nav__logo {
  position: fixed;
  left: 20;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}